$main: var(--blue-dark, #253678);

$accent-1-1: var(--blue-medium, #515E93);
$accent-1-2: var(--blue-light, #A8AFC9);


//old
$accent-2-3: var(--blue-dark, #253678);
$accent-2-1: var(--blue-dark, #253678);
$violet-1-1: var(--blue-dark, #253678);


$main-dark: #111111;
$main-dark-1: #292833;
$main-dark-2: #424152;
$main-dark-3: #5A5970;

$gray-85: #d9d9d9;
$gray-48: #7A7A7A;
$gray-74: #ABA9BC;


$gray-96: #f5f5f5;
$gray-92: #ebebeb;
$gray-80: #ccc;
$gray-56: #8f8f8f;
$gray-13: #222222;
$gray-22: #222222;

$black: #222B32;
$white: #fff;
$darkViolet: #161b37;
$violet: #A83BB1;
$blue: #367fbd;
$grayBlue: #86A5C1;
$pink: #fe3e77;
$dark: #222B32;
$gray: #D6D6D6;
$lgray: #ccc;
$mgray: #b8b8b8;
$yellow: #ffd223;
$green: #37A735;
$red: #DF1F26;
$orange: #EB7D00;
$lightGray: #f3f3f3;

/* media breakpoints */

$w1660: 1660px;
$w1440: 1440px;
$w1376: 1376px;
$w1200: 1200px;
$w1100: 1100px;
$w1024: 1025px;
$w992: 992.98px;
$w760: 767px;
$w680: 679px;
$w576: 576px;
$w480: 480px;
$w375: 375.98px;
$w360: 360.98px;