mixin logo-banner()
    .logo-banner
        .logo-banner__wrapper-md
            ul
                li
                    .logo-banner__item
                        h5 Подключение к сети интернет
                        p Напрямую подключается к устройству через соответствующий разъём
                li
                    .logo-banner__item
                        h5 Видеокамера и блок управления
                        p Напрямую подключаются к устройству через соответствующий разъём
                +picture("/img/common/reliable-device-md")
                li
                    .logo-banner__item
                        h5 Дополнительное оборудование
                        p Напрямую подключаются к устройству через USB-разъём
                li
                    .logo-banner__item
                        h5 Работаем 24/7
                        p Серверное оборудование обслуживается нашими специалистами в режиме 24/7, вычислительные мощности размещены в нескольких независимых дата-центрах и многократно зарезервированы.
                li
                    .logo-banner__item
                        h5 Удобство и выгода
                        p Все смарт-технологии устройства через интернет-подключение вынесены на серверную часть, за счёт чего само устройство стоит недорого, легко монтируется и надёжно эксплуатируется
        .logo-banner__wrapper-pc
            +picture("/img/common/reliable-device-pc")
