mixin support-text-block()
    section.section-support-text-block
        .support-text-block
            .support-text-block__wrp
                .support-text-block__h2
                    h2 Круглосуточная техническая поддержка
                    button.btn(data-modal="/parts/_popup-support.html") Обратиться в Техподдержку
                .support-text-block__text
                    span Чтобы исключить дополнительные расходы наших франчайзи, мы полностью возлагаем на себя ответственность за круглосуточную техническую поддержку администраторов и пользователей сервисов «МОЙ УМНЫЙ ШЛАГБАУМ», как под флагманским, так и под партнёрскими брендами.
                    p Также <strong>круглосуточно осуществляется и дежурство DevOps‑инженеров,</strong> обеспечивающих стабильную работу сервисов на серверном оборудовании с двойным резервированием вычислительных мощностей в нескольких независимых дата-центрах.
                    p Централизованная техподдержка в круглосуточном режиме экономит нашим франчайзи сотни тысяч рублей ежемесячно, становясь их чистой прибылью.
                    .support-text-block__img-wrapper
                        +picture("img/common/support-text-pt")

