mixin franchise-text-block()
    section.section-franchise-text-block
        .franchise-text-block
            .franchise-text-block__wrp
                .franchise-text-block__h2
                    h2 Преимущество направления IT-технологий
                .franchise-text-block__text
                    p Направление IT-технологий, в настоящее время находится на существенном подъёме, как в России, так и в глобальном масштабе, в особенности технологии, связанные с видеоаналитикой и нейросетевым развитием искусственного интеллекта развиваются и продвигаются галопирующими темпами.
                    button.btn(data-modal="/parts/_popup-shop.html") Присоединиться к франшизе

