.franchise-text-block {



  h2 {
    @include font-h2;
    padding-bottom: 0.2em;

  }
  button{
    margin-bottom: 24px;
  }

  &__text {

    line-height: 150%;

    @media screen and (min-width: $w1440) {
      width: calc(100% - 395px);
    }

    @media screen and (min-width: $w1200) {
      width: calc(100% - 295px);
    }

    & p {
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      @media screen and (min-width: $w1440) {
        font-size: 20px;
        line-height: 32px;
      }
    }

    & strong {
      font-weight: 700;
      font-size: 16px;


    }
  }

  &__img-wrapper{
    @media screen and (min-width: $w1440) {
      margin: 32px 0 64px;
    }
  }


}