mixin franchise-service()
   
        .franchise-service
            .franchise-service__wrapper
                
                .franchise-service__text-icon
                    span.franchise-service__icon

                .franchise-service__text-block
                    .franchise-service__h2 Франшиза IT-сервиса «МОЙ УМНЫЙ ШЛАГБАУМ» предоставляет новые возможности!
                    .franchise-service__text
                        p Приобретение франшизы IT-сервиса «МОЙ УМНЫЙ ШЛАГБАУМ», позволяет войти в IT-рынок систем безопасности, видеоаналитики, ИИ, контроля и управления доступом, без потери времени и вложения значительных средств на разработку и поддержку продукта, сразу приступив к наиболее привлекательной части любого бизнеса – продажам.
                        p Мультибрендовая франшиза, позволяет заниматься продвижением продукта, как под флагманским брендом, так и собственным зарегистрированным товарным знаком, который возможно разместить как на самом оборудовании, так и в интерфейсе ПО.
            .franchise-service__subtitle Доход франчайзи складывается их четырёх основных составляющих:
            .franchise-service__adv
                ul
                    li Продажа оборудования
                    li Оказание монтажных услуг при установке на шлагбаумы и прочие ограждающие устройства
                    li Комиссия за пользование дополнительными услугами сервиса
                    li Услуги по ремонту и техническому обслуживанию оборудования

            .franchise-service__note Такой набор источников дохода позволяет франчайзи даже начав с нуля, достаточно быстро окупить первоначальные вложения и получать стабильную прибыль за счёт эксплуатации существующих объектов и добавления новых.
