mixin franchise-service()
    section.section-franchise-service
        .franchise-service
            .franchise-service__wrapper
                span.franchise-service__icon
                .franchise-service__text-block
                    .franchise-service__h2 Франшиза IT-сервиса «МОЙ УМНЫЙ ШЛАГБАУМ» предоставляет новые возможности!
                    .franchise-service__text
                        p Приобретение франшизы IT-сервиса «МОЙ УМНЫЙ ШЛАГБАУМ», позволяет войти в IT-рынок систем безопасности, видеоаналитики, ИИ, контроля и управления доступом, без потери времени и вложения значительных средств на разработку и поддержку продукта, сразу приступив к наиболее привлекательной части любого бизнеса – продажам.
                        p Мультибрендовая франшиза, позволяет заниматься продвижением продукта, как под флагманским брендом, так и собственным зарегистрированным товарным знаком, который возможно разместить как на самом оборудовании, так и в интерфейсе ПО.

