mixin contacts-map-block()
    section.section-contacts-text-block
        .contacts-map-block
            .contacts-map-block__wrapper
                .contacts-map-block__h2 Юридический / фактический адрес
                .contacts-map-block__map
                    p 105187 г. Москва, ул. Щербаковская, д. 53, корп. 15
                    .contacts-map-block__map-contacts
                        .map-overlay-contacts
                            #contact-minimap(data-coordinates="55.783089, 37.734210")




