.contacts-map-block {


  &__wrapper {
    @media screen and (min-width: $w1200) {
      display: flex;
    }
  }

  &__h2 {
    @include font-h2;
    color: #FFFFFF;
    padding-bottom: 0.8em;

    @media screen and (min-width: $w1440) {
      width: 395px;
    }

    @media screen and (min-width: $w1200) {
      width: 295px;

    }
  }

  &__map {

    @media screen and (min-width: $w1440) {
      width: calc(100% - 395px);
      padding-left: 120px;
    }

    @media screen and (min-width: $w1200) {
      width: calc(100% - 295px);
      padding-left: 30px;
    }

    & p {
      font-weight: 500;
      font-size: 18px;
      line-height: 32px;
      color: #FFFFFF;
      margin-top: 0;
      margin-bottom: 24px;


      @media screen and (min-width: $w1440) {
        font-size: 20px;
      }
    }



  }

  &__map-contacts {
    & .map-overlay-contacts {
      padding-top: 70%;
      background-color: #CDD5F5;
      border: 4px solid #CDD5F5;
      border-radius: 8px;
      position: relative;
      overflow: hidden;

      @media screen and (min-width: $w576) {
        padding-top: 40%;
      }

      &>#contact-minimap {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
      }
    }
  }


}