input {
    display: block;
    width: 100%;
    height: 48px;
    border-radius: 6px;
    border: 1px solid var(--blue-extralight, #CDD5F5);
    padding: 0 15px;
    border-radius: 4px;
    transition: 0.3s ease;

    &::placeholder {
        color: $gray-92;
    }

    &:focus {
        border: 1px solid $main;
    }
}

.form {

    &.is-validate {
        & input:invalid {
            border: 1px solid $red;
        }
    }



    & input[type="text"],
    & input[type="date"],
    & input[type="number"],
    & input[type="password"],
    & input[type="email"],
    & input[type="tel"] {
        height: 48px;
        font-size: 15px;
        line-height: 15px;
        padding-left: rem(15);
        padding-right: rem(15);
        padding-top: 8px;
        padding-bottom: 10px;
        box-sizing: border-box;
        width: auto;
        flex-grow: 1;
        background-color: transparent;
        transition: border, background 0.4s ease;
        border-radius: 6px;
        border: 1px solid var(--blue-extralight, #CDD5F5);




        &::placeholder {
            color: $gray-56;
            opacity: 1;
        }

        &:focus {
            border-color: $main;
            outline: none;
        }
    }

    & input[disabled] {
        background-color: #eee;
    }

    & select {
        height: 52px;
        width: 100%;
    }

    & input[type="date"] {
        padding-right: 3em;
        background-size: 1.2em auto;
        background-repeat: no-repeat;
        background-position: calc(100% - 1.25em) center;
        min-width: 165px;
        cursor: pointer;

    }

    & input[type="date"][aria-valid="false"],
    & input[type="text"][aria-valid="false"],
    & input[type="number"][aria-valid="false"],
    & input[type="tel"][aria-valid="false"],
    & input[type="password"][aria-valid="false"],
    & input[type="email"][aria-valid="false"] {
        border-color: #f00;
    }

    & .af-select[aria-valid="false"] {
        border-color: #f00;
    }

    & input[type="password"][aria-valid="true"],
    & input[type="email"][aria-valid="true"] {
        //border-color: #0f0;
        padding-right: 3em;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iMTIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTMuNTY3IDEwLjI5OUwxMy41NDkuMzE3bDEuNDE0IDEuNDE0LTkuOTgyIDkuOTgyLTEuNDE0LTEuNDE0eiIgZmlsbD0iIzRBQzYzNSIvPjxwYXRoIGQ9Ik0xLjUxIDUuNDM0bDQuNDMgNC40MzItMS40MTMgMS40MTRMLjA5NiA2Ljg0OSAxLjUxIDUuNDM0eiIgZmlsbD0iIzRBQzYzNSIvPjwvc3ZnPg==);
        background-size: 1em auto;
        background-repeat: no-repeat;
        background-position: 96% center;
    }

    & textarea {
        min-height: 129px;
        max-width: 100%;
        resize: vertical;
        width: 100%;


        font-size: 14px;
        padding: rem(15);
        line-height: 140%;
        outline: none !important;
        background: transparent;
        border-radius: 6px;
        border: 1px solid var(--blue-extralight, #CDD5F5);

        &:focus {
            border-color: $main;
            outline: none !important;
        }
    }

    & div.error {
        color: $red;
        font-size: 13px;
        padding-top: 5px;
        text-align: center;
        width: 100%;
    }

    &__note {

        font-size: 14px;
        color: $main;
        width: 100%;

        & span {
            cursor: pointer;
        }

        & a {
            color: $blue;
            text-decoration: underline;
        }

        &--col2 {
            display: flex;
            justify-content: space-between;
            flex-direction: column;

            &>span {
                cursor: pointer;
                padding-bottom: 10px;

                @media screen and (min-width: $w760) {
                    padding-bottom: 0;
                }
            }

            @media screen and (min-width: $w760) {
                flex-direction: row;
            }
        }
    }

    &__submit {
        padding-top: 3em;
    }

    // &__item {
    //     // display: flex;
    //     // align-items: center;
    //     // margin: -10px;
    // }

    // &__subitem {
    //     // flex-grow: 1;
    //     // width: 100%;
    //     // padding: 12px 10px;
    // }

    &__item {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;



        @media screen and (min-width: $w760) {
            flex-direction: row;
            align-items: center;
            margin: -10px;
            width: calc(100% + 20px);
        }

        &>.form__item {
            margin: 0;
            flex-direction: column;
            width: 100%;

            @media screen and (min-width: $w1440) {
                flex-direction: row;
            }
        }
    }

    &__subitem {
        flex-grow: 1;
        margin-bottom: 15px;
        margin-right: 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        position: relative;

        & label:not(.checkbox) {
            background-color: var(--bg-01);
            font-size: 13px;
            position: absolute;
            top: -7px;
            left: 7px;
            padding: 0 10px;
            color: var(--text-02, #787D8F);

            @media screen and (min-width: $w760) {
                top: 5px;
                left: 21px;
            }
        }

        & div.error {
            color: $red;
            font-size: 13px;
            padding-top: 5px;
            padding-left: 3px;
            width: 100%;
        }


        & .form__item {
            & .form__subitem {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        @media screen and (min-width: $w760) {
            padding: 12px 10px;
            margin-bottom: 0;
        }
    }

    &__label {

        font-weight: 600;
        font-size: 14px;
        text-transform: uppercase;
        color: $main;
        padding-top: 25px;
        padding-bottom: 15px;
    }

    & fieldset {
        border: none;
        padding: 0;
        margin-top: rem(40);


        &:first-child {
            margin-top: rem(0);
        }
    }

    & legend {
        margin-bottom: rem(30);
    }

    & .af-select {
        height: 48px;
        border: 1px solid #EBEBEB;
        box-sizing: border-box;
        border-radius: 4px;

        & .select-options li {
            max-width: none;
        }
    }



}

.form__subitem.form__subitem--free {
    width: auto;
}