extends ../layouts/page-details

include ../../blocks/components/breadcrumb/breadcrumb.pug
include ../../blocks/components/video/video.pug
include ../../blocks/modules/aside-nav/aside-nav.pug
include ../../blocks/modules/banner-top/banner-top.pug
include ../../blocks/modules/helper-sidebar/helper-sidebar.pug
include ../../blocks/modules/about-text-block/about-text-block.pug
include ../../blocks/modules/about-cards/about-cards.pug
include ../../blocks/modules/form-cooperation/form-cooperation.pug
 


block variables
    include ../../data/data.pug
    - const title = "МОЙ УМНЫЙ ШЛАГБАУМ"


block content

    +banner-top-with-img({
        title: 'О нас',
        image: '/img/detail/about-top-banner.jpg'
    })

    section.section-page-details
        .container
            .page-details
                .page-details__aside
                    +aside-info({
                        icon: '#ic_soft',
                        title:'О нас',
                        text: 'Профессиональные IT-решения в системах видеоаналитики, контроля и управления доступом',
                    })

                    +aside-info-banner()

                .page-details__content
                    .page-details__page-container
                        .page-details__breabcrumbs
                            +breadcrumb([
                                'Главная',
                                'О нас',
                            ])

                        .page-details__wrp
                            .page-details__article
                                +about-text-block()
                                +about-cards()
                    .page-details__page-form
                        .block-fullpage
                            .block-fullpage__wrp
                                .formated-text
                                    h3 Нейронные сети глубокого обучения
                                    p Работа системы базируется на распознавании изображения с видеокамеры средствами нейронных сетей глубокого обучения.  По сути, мы повторили все значимые действия профессионального охранника на КПП алгоритмами искусственного интеллекта, который работая круглосуточно никогда не отлучается, не отдыхает, не болеет, не обманывает, не требует прибавки к зарплате и т.п.
                                    +picture('/img/common/ai') 
                                    p За счёт этого образуется экономическая выгода, которую мы предлагаем вам разделить вместе с нами, совместно внедряя по франшизе сервис «МОЙ УМНЫЙ ШЛАГБАУМ» на объекты:
                                    ul
                                        li многоуровневые и плосткостные паркинги;
                                        li дачные и коттеджные поселки;
                                        li дворы многоквартирных домов;
                                        li торговые центры, магазины и рестораны;
                                        li гостиницы и дома отдыха;
                                        li промышленные, складские и логистческие центры.

                        +form-cooperation--white()



block scripts
    script(src="/js/vendor.js")
    script(src="/js/common.js")

