extends ../layouts/page-details

include ../../blocks/components/breadcrumb/breadcrumb.pug
include ../../blocks/components/video/video.pug
include ../../blocks/modules/aside-nav/aside-nav.pug
include ../../blocks/modules/banner-top/banner-top.pug
include ../../blocks/modules/helper-sidebar/helper-sidebar.pug
include ../../blocks/modules/contacts-text-block/contacts-text-block.pug
include ../../blocks/modules/contacts-map-block/contacts-map-block.pug
include ../../blocks/modules/form-cooperation/form-cooperation.pug



block variables
    include ../../data/data.pug
    - const title = "МОЙ УМНЫЙ ШЛАГБАУМ"


block content

    +banner-top-with-img({
        title: 'Контакты',
        image: '/img/detail/contacts.jpg'
    })

    section.section-page-details
        .container
            .page-details
                .page-details__aside
                    +aside-info({
                        icon: '#ic_contact',
                        title: 'Контакты',
                        text: 'Пишите, задавайте вопросы, выходите на связь – мы всегда готовы ответить или приступить к сотрудничеству!'
                    })

                    +aside-info-banner()

                .page-details__content
                    .page-details__page-container
                        .page-details__breabcrumbs
                            +breadcrumb([
                                'Главная',
                                'Контакты',
                            ])

                        .page-details__wrp
                            .page-details__article
                        .block-fullpage.bordered
                            +contacts-text-block()
                        .block-fullpage.bordered.colored
                            +contacts-map-block()

                    .page-details__page-form
                        +form-contacts()
                                 



block scripts
    script(src="/js/vendor.js")
    script(src="/js/common.js")

