extends ../layouts/page-details

include ../../blocks/components/breadcrumb/breadcrumb.pug
include ../../blocks/components/video/video.pug
include ../../blocks/modules/aside-nav/aside-nav.pug
include ../../blocks/modules/banner-top/banner-top.pug
include ../../blocks/modules/helper-sidebar/helper-sidebar.pug
include ../../blocks/modules/form-cooperation/form-cooperation.pug


block variables
    include ../../data/data.pug
    - const title = "МОЙ УМНЫЙ ШЛАГБАУМ"


block content


    +banner-top({
        title: 'Дачные и котеджные поселки',
        image: '/img/detail/country-cottages'
    })

    section.section-page-details
        .container
            .page-details
                .page-details__aside

                    +aside-info({
                        text: 'Комфорт и безопасность! Личный и гостевой транспорт всегда проедет без проблем 24/7.'
                    })
                    +aside-nav('Дачные и котеджные поселки')
                    +aside-banner()

                .page-details__content
                    .page-details__page-container
                        .page-details__breabcrumbs
                            +breadcrumb([
                                'Главная',
                                'Особенности системы',
                                'Дачные и котеджные поселки',
                            ])

                        .page-details__wrp
                            .page-details__article.page-details__article--w880
                                .formated-text
                                    p Обслуживание КПП при въезде в котеджных или дачных посёлоках, задача достаточно трудозатратная и финансово ёмкая, поэтому далеко не все решаются на его организации, в особенности без нарушения Правил противопожарной безопасности в РФ.
                                    +picture("/img/common/cottages")
                                    p Благодаря сервисам «МОЙ УМНЫЙ ШЛАГБАУМ» возможно организовать КПП, любой интенсивности проездов, в короткие сроки с бюджетным вариантам, максимально приближенным к стоимости шлагбаумов (ворот) с полным соблюдением всех требований законодательства.
                            
                    .page-details__page-form
                        +form-cooperation()



block scripts
    script(src="/js/vendor.js")
    script(src="/js/common.js")

