extends ../layouts/page-details

include ../../blocks/components/breadcrumb/breadcrumb.pug
include ../../blocks/components/video/video.pug
include ../../blocks/modules/aside-nav/aside-nav.pug
include ../../blocks/modules/banner-top/banner-top.pug
include ../../blocks/modules/helper-sidebar/helper-sidebar.pug
include ../../blocks/modules/about-text-block/about-text-block.pug
include ../../blocks/modules/about-cards/about-cards.pug
include ../../blocks/components/faq/faq.pug
include ../../blocks/modules/form-cooperation/form-cooperation.pug


block variables
    include ../../data/data.pug
    - const title = "МОЙ УМНЫЙ ШЛАГБАУМ"


block content

    +banner-top-with-img({
        title: 'Вопросы и ответы',
        image: '/img/detail/faq-top-banner.jpg'
    })

    section.section-page-details
        .container
            .page-details
                .page-details__aside
                    +aside-info({
                        icon: '#ic_faq',
                        title:'Вопросы и ответы',
                        text: 'Ответы на самые популярные вопросы. Также вы можете задать свой вопрос на этой странице ниже',
                    })

                    +aside-banner()

                .page-details__content
                    .page-details__page-container
                        .page-details__breabcrumbs
                            +breadcrumb([
                                'Главная',
                                'Вопросы и ответы',
                            ])

                         
                    .page-details__page-form
                        +faq(app.faq)
                        +form-cooperation-faq()
                                 



block scripts
    script(src="/js/vendor.js")
    script(src="/js/common.js")

