extends ../layouts/page-details

include ../../blocks/components/breadcrumb/breadcrumb.pug
include ../../blocks/components/video/video.pug
include ../../blocks/modules/aside-nav/aside-nav.pug
include ../../blocks/modules/banner-top/banner-top.pug
include ../../blocks/modules/helper-sidebar/helper-sidebar.pug
include ../../blocks/modules/franchise-text-block/franchise-text-block.pug
include ../../blocks/modules/franchise-dynamics/franchise-dynamics.pug
include ../../blocks/modules/franchise-service/franchise-service.pug
include ../../blocks/modules/form-cooperation/form-cooperation.pug



block variables
    include ../../data/data.pug
    - const title = "МОЙ УМНЫЙ ШЛАГБАУМ"


block content

    +banner-top-with-img({
        title: 'Франшиза',
        image: '/img/detail/franchise.jpg'
    })

    section.section-page-details
        .container
            .page-details
                .page-details__aside
                    +aside-info({
                        title: 'Франшиза',
                        text: 'Приобретение франшизы IT-сервиса «МОЙ УМНЫЙ ШЛАГБАУМ», позволяет войти в IT-рынок без потери времени и вложения значительных средств на разработку и поддержку продукта, сразу приступив к наиболее привлекательной части любого бизнеса – продажам.'
                    })

                    +aside-info-banner()

                .page-details__content
                    .page-details__page-container
                        .page-details__breabcrumbs
                            +breadcrumb([
                                'Главная',
                                'Франшиза',
                            ])

                        .page-details__wrp
                            .page-details__article
                                +franchise-text-block()
                    .page-details__page-form
                        .block-fullpage
                            .block-fullpage__wrp
                                +franchise-dynamics()
                        .block-fullpage.colored.marginared
                            .block-fullpage__wrp
                                +franchise-service()
                    .page-details__page-form
                        +form-cooperation--white()

                                 



block scripts
    script(src="/js/vendor.js")
    script(src="/js/common.js")

