extends ../layouts/page-details

include ../../blocks/components/breadcrumb/breadcrumb.pug
include ../../blocks/components/video/video.pug
include ../../blocks/modules/aside-nav/aside-nav.pug
include ../../blocks/modules/banner-top/banner-top.pug

 
block variables
  include ../../data/data.pug
  - const title = "МОЙ УМНЫЙ ШЛАГБАУМ"
 

block content 

  
  +banner-top({
    title: 'Распознавание госномеров и гражданских ТС',
    image: '/img/detail/banner-sidebar-2'
  })

  section.section-page-details
    .container
        .page-details
            .page-details__aside
                
                +aside-info({
                    text: 'Нейросеть распознаёт не только госномер, но и марку/модель/цвет автомобиля!'
                })
                +aside-nav('Распознавание госномеров и гражданских ТС')
                +aside-banner()
                
            .page-details__content
                .page-details__page-container
                    .page-details__breabcrumbs
                        +breadcrumb([
                            'Главная',
                            'Особенности системы',
                            'Распознавание госномеров и гражданских ТС',
                        ])

                    .page-details__wrp
                        .page-details__article
                            .formated-text
                                p Доступ по распознаванию номерного знака транспортного средства, становится всё более популярным в последнее время, однако несет в себе риск неправомерного доступа злоумышленников.
                                p Дыра в безопасности возникает за счёт того, что абсолютно все существующие на рынке системы распознавания ГРЗ (государственного регистрационного знака) не способны отличить образ настоящего ГРЗ от образа номерного знака, например распечатанного на обычном листе бумаге монохромным принтером. Узнать содержимое нужного номерного знака также не составит проблемы, злоумышленнику достаточно будет посмотреть с каким ГРЗ автомобили проезжают через шлагбаум.

                                .video-block
                                    .video-block__content
                                        +video({
                                            preview: '/img/common/img-gos'
                                        })
                                    .video-block__info
                                        strong Работа нейронной сети сервиса «МОЙ УМНЫЙ ШЛАГБАУМ»
                                        span Чтобы свести к разумному минимуму возможные злоупотребления, мы научили нейросеть распознавать не только ГРЗ, но и марку, модель и цвет транспортного средства. На объектах, где требования безопасности выше среднего, данная функции может быть подключена опционально.

                                p На объектах с максимальными требованиями к безопасности, доступ может быть реализован через двухфакторную аутентификацию, где первым фактором будет связка ГРЗ+марка+модель+цвет транспортного средства, а вторым фактором команда на открытие одним из вспомогательных методов (именной радиопульт, магниная карта, RFID-метка, телефонный вызов с защитой от подмены Caller-ID, мобильное приложение).
                            
                             

                                img(src="/img/common/img-app.jpg")

                                p Обеспечить круглосуточный беспрепятственный доступ для спецтраспорта, при проезде через ограждающие устройства можно приобретя отдельно лицензию на ПО или в комплекте с конечным устройством, которое легко интегрируется с платой управления любой автоматики.
                                p На сегодняшний день это самый удобный и недорогой способ решения проблемы доступа спецтранспорту, а в сочетании с сервисом по распознаванию ГРЗ, марки, модели и цвета транспортного средства, шлагбаум станет абсолютно автоматизированным для всех видов транспорта, а чтобы открыть его – к нему достаточно просто подъехать!
                        .page-details__sidebar

block scripts
  script(src="/js/vendor.js") 
  script(src="/js/common.js") 

