extends ../layouts/page-details

include ../../blocks/components/breadcrumb/breadcrumb.pug
include ../../blocks/components/video/video.pug
include ../../blocks/modules/aside-nav/aside-nav.pug
include ../../blocks/modules/banner-top/banner-top.pug
include ../../blocks/modules/helper-sidebar/helper-sidebar.pug
include ../../blocks/modules/form-cooperation/form-cooperation.pug


block variables
    include ../../data/data.pug
    - const title = "МОЙ УМНЫЙ ШЛАГБАУМ"


block content


    +banner-top({
        title: 'Гостиницы и дома отдыха',
        image: '/img/detail/hotels'
    })

    section.section-page-details
        .container
            .page-details
                .page-details__aside

                    +aside-info({
                        text: 'Всё под контролем, гости довольны! Простая интеграция с системой бронирования и заселения по API.'
                    })
                    +aside-nav('Гостиницы и дома отдыха')
                    +aside-banner()

                .page-details__content
                    .page-details__page-container
                        .page-details__breabcrumbs
                            +breadcrumb([
                                'Главная',
                                'Особенности системы',
                                'Гостиницы и дома отдыха',
                            ])

                        .page-details__wrp
                            .page-details__article.page-details__article--w880
                                .formated-text
                                    p Как театр начинается в вешалки, так и отдых в хорошем отеле начинается с парковки. Сделайте первый контакт ваших гостей с гостиничным сервисом удобным, комфортным и гостеприимным.
                                    +picture("/img/common/hotels-page")
                                    p Гости смогут заехать на парковку как по номерному знаку личного автомобиля, так и идентификации телефонного номера на такси.
                                    p Сервис фиксирует время, проведённое на транспортным средством на парковке, что позволяет вести гибкую системы оплаты за парковку или сделать её полностью бесплатной, для целевой аудитории.

                             
                    .page-details__page-form
                        +form-cooperation()



block scripts
    script(src="/js/vendor.js")
    script(src="/js/common.js")

