extends ../layouts/page-details

include ../../blocks/components/breadcrumb/breadcrumb.pug
include ../../blocks/components/video/video.pug
include ../../blocks/modules/aside-nav/aside-nav.pug
include ../../blocks/modules/banner-top/banner-top.pug
include ../../blocks/modules/helper-sidebar/helper-sidebar.pug
include ../../blocks/modules/form-cooperation/form-cooperation.pug


block variables
    include ../../data/data.pug
    - const title = "МОЙ УМНЫЙ ШЛАГБАУМ"


block content


    +banner-top({
        title: 'Промышленные, складские и логистческие центры',
        image: '/img/detail/industrial-warehouses'
    })

    section.section-page-details
        .container
            .page-details
                .page-details__aside

                    +aside-info({
                        text: 'Всё под контролем, абсолютный учёт! Система легко интегрируется с любыми сервисами и устройствами, в т.ч. весовым оборудованием, по API.'
                    })
                    +aside-nav('Промышленные, складские и логистческие центры')
                    +aside-banner()

                .page-details__content
                    .page-details__page-container
                        .page-details__breabcrumbs
                            +breadcrumb([
                                'Главная',
                                'Особенности системы',
                                'Промышленные, складские и логистческие центры',
                            ])

                        .page-details__wrp
                            .page-details__article.page-details__article--w880
                                .formated-text
                                    p Логистика, хранение и производство – сферы требующие максимального контроля и учёта.
                                    p Гибкие настройки сервиса и его интеграция с любыми видами оборудования и программного обеспечения по API позволят максимально держать "руку на пульсе" вашего предприятия. Подключить весовое оборудование (или любое другое) к СКУД по API – задача, решаемая за несколько дней и с минимальными трудозатрататами.
                                    +picture("/img/common/industrial-houses")
                                    p При этом максимальный контроль не только не замедлит скорость процессов на предприятии, но и повысит эффективность благодаря автоматизации учёта и контроля в фоновом режиме.

                            
                    .page-details__page-form
                        +form-cooperation()



block scripts
    script(src="/js/vendor.js")
    script(src="/js/common.js")

