extends ../layouts/page-details

include ../../blocks/components/breadcrumb/breadcrumb.pug
include ../../blocks/components/video/video.pug
include ../../blocks/modules/aside-nav/aside-nav.pug
include ../../blocks/modules/banner-top/banner-top.pug
include ../../blocks/modules/helper-sidebar/helper-sidebar.pug


block variables
    include ../../data/data.pug
    - const title = "МОЙ УМНЫЙ ШЛАГБАУМ"


block content


    +banner-top({
        title: 'Многоуровневые и плоскостные паркинги',
        image: '/img/detail/parkings'
    })

    section.section-page-details
        .container
            .page-details
                .page-details__aside

                    +aside-info({
                        text: 'Быстрый старт и короткая окупаемость! Внедрите сервис и начните зарабатывать уже через неделю.'
                    })
                    +aside-nav('Многоуровневые и плоскостные паркинги')
                    +aside-banner()

                .page-details__content
                    .page-details__page-container
                        .page-details__breabcrumbs
                            +breadcrumb([
                                'Главная',
                                'Особенности системы',
                                'Многоуровневые и плоскостные паркинги',
                            ])

                        .page-details__wrp
                            .page-details__article
                                .formated-text
                                    p Главным преимуществом сервисов «МОЙ УМНЫЙ ШЛАГБАУМ» при эксплуатации на парковочных площадях является отсутствие необходимости нести круглосуточное дежурство обслуживающему персоналу.
                                    p Максимально возможное количество процессов автоматизировано, по нештатным ситуациям отрабатывает удалённая диспетчерская, которая может быть как собственной на несколько объектов, так и полностью на аутсорсе сервиса «МОЙ УМНЫЙ ШЛАГБАУМ».
                                    +picture("/img/common/parking-multilevel")
                                    p Для платных паркингов возможна интеграция платёжных сервисов, что позволит полностью отказаться от парковочных островов, магнитных карт, бумажных квитанций, аппаратов для их выдачи и приёма платежей.
                                    p Таким образом, самую продвинутую парковку можно организовать в короткие сроки с бюджетным вариантом, максимально приближённым к стоимости шлагбаумов.
                            .page-details__sidebar



block scripts
    script(src="/js/vendor.js")
    script(src="/js/common.js")

