extends ../layouts/page-details

include ../../blocks/components/breadcrumb/breadcrumb.pug
include ../../blocks/components/video/video.pug
include ../../blocks/modules/aside-nav/aside-nav.pug
include ../../blocks/modules/banner-top/banner-top.pug
include ../../blocks/modules/helper-sidebar/helper-sidebar.pug
include ../../blocks/modules/logo-banner/logo-banner.pug



block variables
    include ../../data/data.pug
    - const title = "МОЙ УМНЫЙ ШЛАГБАУМ"


block content


    +banner-top-new-bg({
        title: 'Надёжное конечное устройство',
        image: '/img/detail/reliable-device'
    })

    section.section-page-details
        .container
            .page-details
                .page-details__aside

                    +aside-info({
                        text: 'Не требует сложных настроек, работает «из коробки»!'
                    })
                    +aside-nav('Надёжное конечное устройство')
                    +aside-info-banner()

                .page-details__content
                    .page-details__page-container
                        .page-details__breabcrumbs
                            +breadcrumb([
                                'Главная',
                                'Особенности системы',
                                'Надёжное конечное устройство',
                            ])

                    .page-details__wrp
                        .page-details__page-container
                            .page-details__article
                                .formated-text
                                    p Множество достойных программных продуктов не получают широкого распространения только потому, что не имеют собственного конечного устройства, а должны интегрироваться сложными настройками и коммутацией сетевых соединений.
                                    p Именно поэтому, прежде чем выпустить на рынок наше программное обеспечение, мы приложили массу усилий для создания собственного «железа», которое не нуждается в «плясках с бубнами» при установке, а является работоспособным по умолчанию. Для монтажа не потребуется привлекать высокооплачиваемых IT-специалистов, устройство готово к монтажу и эксплуатации из коробки.
                    +logo-banner()



block scripts
    script(src="/js/vendor.js")
    script(src="/js/common.js")

