extends ../layouts/page-details

include ../../blocks/components/breadcrumb/breadcrumb.pug
include ../../blocks/components/video/video.pug
include ../../blocks/modules/aside-nav/aside-nav.pug
include ../../blocks/modules/banner-top/banner-top.pug

 
block variables
  include ../../data/data.pug
  - const title = "МОЙ УМНЫЙ ШЛАГБАУМ"
 

block content 

  
  +banner-top({
    title: 'Распознавание спецтранспорта',
    image: '/img/detail/special'
  })

  section.section-page-details
    .container
        .page-details
            .page-details__aside
                
                +aside-info()
                +aside-nav('Распознавание спецтранспорта')
                +aside-banner()
                
            .page-details__content
                .page-details__breabcrumbs
                    +breadcrumb([
                        'Главная',
                        'Особенности системы',
                        'Распознавание спецтранспорта',
                    ])

                .page-details__wrp
                    .page-details__article
                        .formated-text
                            p Обязанность обеспечить беспрепятственный круглосуточный доступ спецтранспорту возложена на правообладателей огражденной территории законодательством РФ. В частности Правилами противопожарного режима в РФ и г. Постановлением Правительства г. Москвы № 428 от 02.07.2013г.
                            p Традиционно, в донейронную эру технологий,  эта функция возлагалась на охрану и диспетчеров, обеспечивающих доступ спецтранспорту методами визуального наблюдения.
                            p Однако, это достаточно затратное решение, ведь требуется организовать «бесшовное» круглосуточное дежурство силами не менее 3х-4х сотрудников посменно, выплачивая заработную плату, налоги, отпускные и т.п.

                            +video({
                                preview: '/img/common/video-spec'
                            })

                            p Многолетнее глубокое обучение нейросети позволило достигнуть уникальных показателей погрешности на сегодняшнем рынке видеоаналитики:
                            p 
                                small Нейросеть сервиса «МОЙ УМНЫЙ ШЛАГБАУМ» успешно справляется с распознаванием спецтранспорта в следующих категориях:

                            ul
                                li Пожарная техника
                                li Скорая медицинская помощь
                                li Медслужба
                                li Полиция
                                li Росгвардия
                                li Аварийные службы
                                li Моторизованная коммунальная техника (тракторы, поливалки, подметалки)
                                li Мусоровозы
                                li Почта России

                            img(src="/img/common/img-special.jpg")

                            p Обеспечить круглосуточный беспрепятственный доступ для спецтраспорта, при проезде через ограждающие устройства можно приобретя отдельно лицензию на ПО или в комплекте с конечным устройством, которое легко интегрируется с платой управления любой автоматики.
                            p На сегодняшний день это самый удобный и недорогой способ решения проблемы доступа спецтранспорту, а в сочетании с сервисом по распознаванию ГРЗ, марки, модели и цвета транспортного средства, шлагбаум станет абсолютно автоматизированным для всех видов транспорта, а чтобы открыть его – к нему достаточно просто подъехать!
                    .page-details__sidebar

block scripts
  script(src="/js/vendor.js") 
  script(src="/js/common.js") 

