extends ../layouts/page-details

include ../../blocks/components/breadcrumb/breadcrumb.pug
include ../../blocks/components/video/video.pug
include ../../blocks/modules/aside-nav/aside-nav.pug
include ../../blocks/modules/banner-top/banner-top.pug
include ../../blocks/modules/helper-sidebar/helper-sidebar.pug
include ../../blocks/modules/support-text-block/support-text-block.pug
include ../../blocks/modules/form-cooperation/form-cooperation.pug



block variables
    include ../../data/data.pug
    - const title = "МОЙ УМНЫЙ ШЛАГБАУМ"


block content

    +banner-top-with-img({
        title: 'Техподдержка',
        image: '/img/detail/support.jpg'
    })

    section.section-page-details
        .container
            .page-details
                .page-details__aside
                    +aside-info({
                        icon: '#ic_support',
                        title:'Техподдержка',
                        text: 'Круглосуточная техническая поддержка и работа серверного оборудования с двойным резервированием'
                    })

                    +aside-info-banner()

                .page-details__content
                    .page-details__page-container
                        .page-details__breabcrumbs
                            +breadcrumb([
                                'Главная',
                                'Техподдержка',
                            ])

                        .page-details__wrp
                            .page-details__article
                                +support-text-block()
                    .page-details__page-form
                        +form-cooperation()








block scripts
    script(src="/js/vendor.js")
    script(src="/js/common.js")

