extends ../layouts/page-details

include ../../blocks/components/breadcrumb/breadcrumb.pug
include ../../blocks/components/video/video.pug
include ../../blocks/modules/aside-nav/aside-nav.pug
include ../../blocks/modules/banner-top/banner-top.pug
include ../../blocks/modules/form-cooperation/form-cooperation.pug


block variables
    include ../../data/data.pug
    - const title = "МОЙ УМНЫЙ ШЛАГБАУМ"


block content


    +banner-top({
        title: 'Видеонаблюдение и видеоархив',
        image: '/img/detail/banner-video-camera'
    })

    section.section-page-details
        .container
            .page-details
                .page-details__aside

                    +aside-info({
                        text: 'Стабильное вещание, надёжное хранение, быстрый поиск!'
                    })
                    +aside-nav('Видеонаблюдение и видеоаналитика')
                    +aside-banner()

                .page-details__content
                    .page-details__page-container
                        .page-details__breabcrumbs
                            +breadcrumb([
                                'Главная',
                                'Особенности системы',
                                'Видеонаблюдение и видеоархив',
                            ])

                        .page-details__wrp
                            .page-details__article
                                .formated-text
                                    p Главным преимуществом системы видеонаблюдения и записи видеоархива в облачное хранилище, является стабильная работа видеокамер, подключенных к системе. Видеокамера, как сетевое устройство периодически нуждается в перезагрузке, как программными инструментами, так и по цепи питания.
                                    p В большинстве систем видеонаблюдения, для перезагрузки видеокамеры по питанию, необходим выезд технического специалиста для обслуживания. Мы поступили иначе.
                                    .video-block
                                        .video-block__content
                                            +video({
                                                preview: '/img/common/gray-bg-video'
                                            })
                                        .video-block__info
                                            strong Блок перезагрузки видеокамеры
                                            span  В комплекте оборудования «МОЙ УМНЫЙ ШЛАГБАУМ» реализован блок перезагрузки видеокамеры по питанию, благодаря которому питание для видеокамеры дистанционно отключается и затем включается снова. Удалённая перезагрузка видеокамеры по питанию экономит нашим франчайзи значительные денежные средства, обеспечивая надёжную и стабильную работу системы в целом.
                                    p Видеотрансляция с камер, в режиме реального времени, выводится в ЛК пользователей и администратора как в вэб версии, так и в мобильном приложении. Работа с видеоархивом также возможна как в вэб версии, так и в мобильном приложении.
                                    +picture("/img/common/gray-bg-img")
                                    p Важным преимуществом в работе системы «Мой умный шлагбаум» является смарт-контроль событий на объекте, связанных с предоставлением доступа, которые логиируются в ЛК, с привязкой фото и видеофиксации с видеокамеры. То есть на работу с фото и видеоархивом персоналу потребуется в десятки раз меньше рабочего времени.
                            .page-details__sidebar
                    
                    

block scripts
    script(src="/js/vendor.js")
    script(src="/js/common.js")

