.faq {
    padding-top: 12px;
}

.faq-item {

    cursor: pointer;
    padding: 10px 15px;
    background-color: var(--bg-01);
    margin: 0 -15px;

    @media screen and (min-width: $w760) {
        margin: 0;
    }

    &:nth-child(even) {
        background-color: #fff;

        & .faq-item {
            &__answer {
                background-color: var(--bg-01);
            }
        }

    }

    @media screen and (min-width: $w1440) {
        padding: 15px 80px;
    }

    @media screen and (min-width: $w480) {
        padding: 30px;

    }

    @media screen and (max-width: $w480) {
        margin-left: -15px;
        margin-right: -15px;
    }

    &.open {
        & .faq-item__arrow svg {
            transform: rotate(-45deg);
        }

        & .faq-item__answer {
            max-height: rem(1000);

            margin-top: 15px;
            padding: 18px 37px;
            margin-bottom: 10px;
            opacity: 1;

            @media screen and (min-width: $w760) {
                // padding: 0 rem(37) rem(25);
            }

        }

        & .icon-cross {
            transform: rotate(360deg);

            &::after {
                transition: 0.5s ease 0.45s;
                transform: rotate(90deg);
            }
        }
    }

    &__question {
        display: flex;
        align-items: center;
        padding: 14px 0;

        @media screen and (min-width: $w760) {
            // padding: rem(25) rem(37);
        }
    }


    &__answer {
        max-height: 0;
        overflow: hidden;
        transition: 0.3s ease;
        color: #555;
        font-size: 15px;
        line-height: 125%;
        padding: 0 37px;
        background-color: #fff;
        border-radius: 8px;
        line-height: 150%;
        opacity: 0;

        @media screen and (min-width: $w760) {
            font-size: 16px;
        }

        @media screen and (min-width: $w1440) {
            font-size: 18px;
        }



    }

    &__title {
        flex-grow: 1;
        font-weight: 600;
        font-size: 17px;
        line-height: 133%;
        color: #1B1A1C;


        @media screen and (min-width: $w576) {
            font-size: 18px;
        }

        @media screen and (min-width: $w1440) {
            font-size: 20px;
        }

    }

    &__arrow {
        display: flex;
        align-items: center;
        transition: 0.3s ease;
        margin-left: rem(10);

        & svg {
            transition: 0.3s ease;
        }
    }
}


.icon-cross {
    width: 20px;
    min-width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
    margin-left: 10px;
    transition: 0.8s ease;

    @media screen and (min-width: $w576) {
        width: 24px;
        min-width: 24px;
        height: 24px;
    }
}

.icon-cross::after,
.icon-cross::before {
    display: inline-block;
    background: #6a6a6a;
    position: absolute;
    content: ""
}

.icon-cross::before {
    width: 100%;
    height: 2px;
    top: 50%;
    margin-top: -1px
}

.icon-cross::after {
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 100%;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}