.section-about-text-block {
  padding-top: 30px;
  padding-bottom: 60px;

  &--software {
    & .about-text-block {

      &__h2 {
        font-size: 32px;
      }
      &__text {

        line-height: 150%;

        @media screen and (min-width: $w1440) {
          width: calc(100% - 395px);
          padding-left: 40px;
        }

        @media screen and (min-width: $w1200) {
          width: calc(100% - 295px);
          padding-left: 30px;
        }

        & strong {
          font-weight: 400;
          font-size: 18px;

          @media screen and (min-width: $w1440) {
            font-size: 20px;
          }
        }
      }

    }
  }

}

.about-text-block {


  &__wrp {
    @media screen and (min-width: $w1200) {
      display: flex;
    }
  }

  &__h2 {
    @include font-h2;
    padding-bottom: 0.8em;

    @media screen and (min-width: $w1440) {
      width: 395px;
    }

    @media screen and (min-width: $w1200) {
      width: 295px;

    }
  }

  &__text {

    line-height: 150%;

    @media screen and (min-width: $w1440) {
      width: calc(100% - 395px);
      padding-left: 0;
    }

    @media screen and (min-width: $w1200) {
      width: calc(100% - 295px);
      padding-left: 0;
    }

    & strong {
      font-weight: 400;
      font-size: 18px;

      @media screen and (min-width: $w1440) {
        font-size: 20px;
      }
    }
  }


}

