mixin about-text-block()
    section.section-about-text-block
        .about-text-block 
            .about-text-block__wrp
                .about-text-block__text
                    strong Мы – команда опытных разработчиков софта и железа с обширной практикой внедрения и эксплуатации сетевых, а также облачных систем видеонаблюдения, видеоаналитики, СКУД на сотнях объектов.
                    p Мы разработали суперсовременные и сверхнадёжные сервисы «МОЙ УМНЫЙ ШЛАГБАУМ» для организации авторизованного доступа транспорту, смонтировать и обслужить которые смогут монтажники любой компании по установке слаботочных систем: СКУД, видеонаблюдения, пожарной безопасности и т.п.

mixin software-text-block()
    section.section-about-text-block.section-about-text-block--software
        .about-text-block 
            .about-text-block__wrp
                .about-text-block__h2 Комплект программного обеспечения «МОЙ УМНЫЙ ШЛАГБАУМ»
                .about-text-block__text
                    strong Разработан для 100% автоматизации проездов через шлагбаумы и прочие ограждающие устройства, без присутствия сотрудника на объекте.
                    p Надёжность работы программного обеспечения протестирована десятками тысяч часов эксплуатации и сотнями тысяч пользователей.
                    p Софт полностью адаптирован как под работу с конечными устройствами системы «Мой умный шлагбаум», так и под интеграцию с любым другим «железом» через API. Также возможна доработка софта под задачи франчайзи, индивидуальный дизайн и брендирование интерфейса.

mixin hardware-text-block()
    section.section-about-text-block.section-about-text-block--software
        .about-text-block 
            .about-text-block__wrp
                .about-text-block__h2 Конечное оборудование системы «МОЙ УМНЫЙ ШЛАГБАУМ»
                .about-text-block__text
                     strong В сочетании с нативным программным обеспечением, позволяет производить «монтаж из коробки». 
                     p Не требуются специальные сложные настройки, поскольку интеграция устройств с серверным ПО уже произведена на этапе производства, а монтажнику остаётся лишь произвести подключение устройств на объекте.
                     p Оборудование протестировано десятками тысяч часов эксплуатации в различных климатических условиях, корпус устройства может быть изготовлен с индивидуальным брендированием франчайзи.
