mixin about-text-block()
    section.section-about-text-block
        .about-text-block 
            .about-text-block__wrp
                .about-text-block__h2 ООО «МОИ УМНЫЕ СЕРВИСЫ»
                .about-text-block__text
                    strong Мы – опытная команда разработчиков софта и железа с обширной практикой внедрения и эксплуатации сетевых и облачных систем видеонаблюдения, видеоаналитики и СКУД на сотнях объектов.
                    p Мы разработали суперсовременные и сверхнадёжные сервисы «МОЙ УМНЫЙ ШЛАГБАУМ» для организации авторизованного доступа транспорту, смонтировать и обслужить которые смогут монтажники любой компании по установке слаботочных систем: СКУД, видеонаблюдения, пожарной безопасности и т.п.