include ../../common/main-menu/main-menu.pug

.container
    .footer
        .footer-top
            .footer__left
                .footer-contacts 
                    .footer-contacts__title ООО «МОИ УМНЫЕ СЕРВИСЫ»
                    .footer-contacts__list
                        .footer-contacts__item  <span>ОГРН:</span>1237700282665
                        .footer-contacts__item  <span>ИНН:</span>9719049065
                        .footer-contacts__item  <span>КПП:</span>771901001
                        .footer-contacts__item  <span>Адрес:</span>105187, г. Москва, ул. Щербаковская, д. 53, корп. 15
                    .footer-contacts__map
                        .map-overvlay 
                            #footer-minimap(data-coordinates="55.783089, 37.734210")
            .footer__right
                .footer-menu
                    .footer-menu__item.footer-menu__item--about
                        .footer-menu__title О компании
                        .footer-menu__list
                            ul
                                li: a(href='#') О нас
                                li: a(href='#') Программное обеспечение
                                li: a(href='#') Оборудование
                                li: a(href='#') Техподдержка
                                li: a(href='#') Вопросы и ответы
                                li: a(href='#') Франшиза
                                li: a(href='#') Обратная связь
                                li: a(href='#') Политика конфиденциальности

                    .footer-menu__item
                        .footer-menu__title Особенности системы
                        .footer-menu__list
                            ul
                                li: a(href='#') Распознавание спецтранспорта
                                li: a(href='#') Распознавание госномеров и гражданских ТС
                                li: a(href='#') Вспомогательные методы открытия
                                li: a(href='#') Видеонаблюдение и видеоаналитика
                                li: a(href='#') Надёжное конечное устройство
                                li: a(href='#') Дворы многоквартирных домов
                                li: a(href='#') Многоуровневые и плоскостные паркинги
                                li: a(href='#') Дачные и котеджные поселки
                                li: a(href='#') Торговые центры, магазины и рестораны
                                li: a(href='#') Гостиницы и дома отдыха
                                li: a(href='#') Промышленные, складские и логистические центры
        .footer-bottom
            .footer-copyright © 2023, ООО «Мои умные сервисы». Все права защищены
            .footer-developer
                a(href='#') 
                    span Поддержка сайта:
                    img(src="/img/common/logo-developer.svg" alt="Поддержка сайта Promicom")

+main-menu