mixin contacts-text-block()
    section.section-contacts-text-block
        .contacts-text-block
            .contacts-text-block__wrapper
                .contacts-text-block__h2 Наши реквизиты
                .contacts-text-block__text
                    .contacts-text-block__item
                        span Создатель и правообладатель программного и аппартаного обеспечения:
                        p ООО «МОИ УМНЫЕ СЕВИСЫ»
                    .contacts-text-block__item
                        span ОГРН:
                        p 1237700282665
                    .contacts-text-block__item
                        span ИНН:
                        p 9719049065
                    .contacts-text-block__item
                        span КПП:
                        p 771901001



