.btn {

    padding: 0.8em 2.05em 0.85em 2.05em;
    background: var(--main);
    color: #fff;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 130px;
    height: 48px;
    white-space: nowrap;
    transition: .3s cubic-bezier(.1, .82, .25, 1);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    border-radius: 48px;

    &:hover {
        background-color: $accent-1-2;
    }

    &:active,
    &:focus {
        outline: none;
    }

    &:disabled {
        background-color: #A8AFC9;
        color: #fff;
        cursor: not-allowed;

        &:hover {
            opacity: 0.9;
        }
    }

    & svg {
        fill: #fff;
        margin-right: 1em;
    }

    &.btn-special {
        background-color: transparent;
        border-radius: 0;
        min-width: 260px;
        background-repeat: no-repeat;
        background-position: right center;
        text-align: right;
        justify-content: flex-end;
        position: relative;
        transition: 0.3s ease;


        & span {
            position: relative;
            z-index: 2;
            transition: 0.3s ease;
        }

        &::before {
            background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjYwIiBoZWlnaHQ9IjQ4IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0wIDBoNjEuNDJsLTIxLjggNDhIMFYwem01MC41MiA0OGwyMS44LTQ4aDIxLjhsLTIxLjggNDhoLTIxLjh6bTMyLjcgMGgxNTguMzE1YTQgNCAwIDAwMy4zMDYtMS43NDhsMTMuNjI1LTIwYTQuMDAyIDQuMDAyIDAgMDAwLTQuNTA0bC0xMy42MjUtMjBBNCA0IDAgMDAyNDEuNTM1IDBIMTA1LjAybC0yMS44IDQ4eiIgZmlsbD0iIzI1MzY3OCIvPjwvc3ZnPg==);
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            transition: 0.5s ease;
        }

        &:hover {

            & span {
                color: var(--main);
            }

            &::before {
                filter: brightness(10) grayscale(1);
            }
        }
    }


    &.btn-gray {
        background-color: #ECF0F5;
        color: #253678;

        &:hover {
            background-color: #F1F5FA;
            color: #515E93;
        }

        &:disabled {
            background-color: #ECF0F5;
            color: #A8AFC9;
        }
    }

    &.btn-white {
        background-color: #fff;
        color: #000;

        &:hover {
            background-color: $gray-92;
        }
    }

    &.btn-full {
        width: 100%;
    }

    &.btn-radius {
        border-radius: 60px;
    }


    &.btn-small {
        height: 40px;
        font-size: 14px;
        padding: 0.7em 2.5em 0.8em 2.5em;
        font-weight: 400;
    }

    &.btn-loading {
        &::after {
            content: '';
            width: 0.8em;
            min-width: 0.8em;
            height: 0.8em;
            border: 2px solid #fff;
            border-radius: 50%;
            border-left-color: transparent !important;
            margin-left: 10px;
            transition: transform 0.5s linear;
            animation: 0.5s linear loadingrotate infinite;
            display: inline-block;
            white-space: nowrap;
            flex-wrap: nowrap;
            position: relative;
            left: 5px;
        }
    }

    &.btn-success {
        &::after {
            content: '';
            width: 15px;
            min-width: 14px;
            height: 9px;
            border: 2px solid #fff;
            animation: none;
            min-width: 12px;
            display: inline-block;
            border-top: none;
            border-right: none;
            transform: rotate(-45deg) translateX(4px);
            margin-left: 10px;
            position: relative;
            left: 5px;
        }
    }




}