mixin aside-nav(active)

    - 
        const asidenav = [
            {
                text: 'Распознавание спецтранспорта',
                href: '/spectransport.html'
            },
            {
                text: 'Распознавание госномеров и гражданских ТС',
                href: '/gosnomer.html'
            },
            {
                text: 'Вспомогательные методы открытия',
                href: '/helper-method.html'
            },
            {
                text: 'Видеонаблюдение и видеоаналитика',
                href: '/video-archive.html'
            },
            {
                text: 'Надёжное конечное устройство',
                href: 'reliable-device.html'
            },
            {
                text: 'Дворы многоквартирных домов',
                href: '/courtyards.html'
            },
            {
                text: 'Многоуровневые и плоскостные паркинги',
                href: '/parkings.html'
            },
            {
                text: 'Дачные и коттеджные поселки',
                href: '/country-cottages.html'
            },
            {
                text: 'Торговые центры, магазины и рестораны',
                href: 'shopping-malls.html'
            },
            {
                text: 'Гостиницы и дома отдыха',
                href: 'hotels.html'
            },
            {
                text: 'Промышленные, складские и логистческие центры',
                href: 'industrial-warehouses.html'
            },
        ]

    .aside-nav
        .aside-nav__list
            nav
                ul
                    each item in asidenav
                        li(class=item.text == active ? 'active':''): a(href=item.href)= item.text



mixin aside-info(data)
    .aside-info
        .aside-info__title 
            +icons((data.icon != undefined ? data.icon : '#ic_feature'), 32)
            span= data.title!= undefined ? data.title : 'Особенности системы'
        .aside-info__desc= data.text



mixin aside-banner()
    .aside-banner
        .aside-banner__image
            a(href='#') 
                picture
                    img(src="/img/detail/banner-sidebar.jpg")

mixin aside-info-banner()
    .aside-banner
        .aside-banner__image
            a(href='#')
                picture
                    img(src="/img/detail/aside-info-banner.jpg")

mixin sidebar-banner-new()
    .aside-banner
        .aside-banner__image
            a(href='#')
                picture
                    img(src="/img/detail/banner-sidebar-new.jpg")