mixin aside-nav(active)

   
    .aside-nav
        .aside-nav__list
            nav
                ul
                    each item in app.asidenav
                        li(class=item.text == active ? 'active':''): a(href=item.href)= item.text



mixin aside-info(data)
    .aside-info
        .aside-info__title 
            +icons((data.icon != undefined ? data.icon : '#ic_feature'), 32)
            span= data.title!= undefined ? data.title : 'Особенности системы'
        .aside-info__desc= data.text



mixin aside-banner()
    .aside-banner
        .aside-banner__image
            a(href='#') 
                picture
                    img(src="/img/detail/banner-sidebar.jpg")

mixin aside-info-banner()
    .aside-banner
        .aside-banner__image
            a(href='faq.html')
                picture
                    img(src="/img/detail/aside-info-banner.jpg")

mixin sidebar-banner-new()
    .aside-banner
        .aside-banner__image
            a(href='#')
                picture
                    img(src="/img/detail/banner-sidebar-new.jpg")