mixin aside-nav(active)

    - 
        const asidenav = [
            {
                text: 'Распознавание спецтранспорта',
                href: '/spectransport.html'
            },
            {
                text: 'Распознавание госномеров и гражданских ТС',
                href: '/gosnomer.html'
            },
            {
                text: 'Вспомогательные методы открытия',
                href: '#'
            },
            {
                text: 'Видеонаблюдение и видеоаналитика',
                href: '#'
            },
            {
                text: 'Надёжное конечное устройство',
                href: '#'
            },
            {
                text: 'Дворы многоквартирных домов',
                href: '#'
            },
            {
                text: 'Многоуровневые и плоскостные паркинги',
                href: '#'
            },
            {
                text: 'Дачные и коттеджные поселки',
                href: '#'
            },
            {
                text: 'Торговые центры, магазины и рестораны',
                href: '#'
            },
            {
                text: 'Гостиницы и дома отдыха',
                href: '#'
            },
            {
                text: 'Промышленные, складские и логистческие центры',
                href: '#'
            },
        ]

    .aside-nav
        .aside-nav__list
            nav
                ul
                    each item in asidenav
                        li(class=item.text == active ? 'active':''): a(href=item.href)= item.text



mixin aside-info(data)
    .aside-info
        .aside-info__title 
            +icons('#ic_feature', 32)
            span Особенности системы
        .aside-info__desc= data.text

mixin aside-banner()
    .aside-banner
        .aside-banner__image
            a(href='#') 
                picture
                    img(src="/img/detail/banner-sidebar.jpg")