include ../../helpers/mixins.pug
include ../../../blocks/modules/popup-form/popup-form.pug

+popup-form({
    title: 'Заказать оборудование',
    desc: 'Отправьте запрос на покупку оборудования и наш менеджер свяжется с вами!',
})