include ../../helpers/mixins.pug
include ../../../blocks/modules/popup-form/popup-form.pug

+popup-form({
    title: 'Присоединиться к франшизе',
    desc: 'Отправьте запрос на присоединение к франшизе и наш менеджер свяжется с вами',
})