include ../../helpers/mixins.pug
include ../../../blocks/modules/popup-form/popup-form.pug

+popup-form({
    title: 'Обратная связь',
    desc: 'Пишите, задавайте вопросы, выходите на связь – мы всегда готовы ответить, перезвонить или приступить к сотрудничеству!',
})