mixin franchise-dynamics()
    section.section-franchise-dynamics
        .franchise-dynamics
            .franchise-dynamics__wrapper
                .franchise-dynamics__text-block
                    .franchise-dynamics__h2 Динамика роста реализации IT-товаров, работ, услуг
                    .franchise-dynamics__text
                        p В 2022 году, по оценкам «Института статистических исследований и экономики знаний НИУ ВШЭ», в России, было реализовано IT-товаров, работ, услуг на сумму: 5 417.9 миллиардов рублей, при этом прирост к показателям 2021 года составил: 421.8 (миллиардов рублей), что составляет: +8,4% не смотря на негативный внутренний и внешнеэкономический фон.
                .franchise-dynamics__dynamics
                    .franchise-dynamics__first-year
                        span.franchise-dynamics__first-year-title 4 996.1 млрд рублей
                        .franchise-dynamics__first-year-chart
                        span.franchise-dynamics__first-year-sub-title 2021 год
                    .franchise-dynamics__last-year
                        span.franchise-dynamics__last-year-title 5 417.9 млрд рублей
                        span.franchise-dynamics__last-year-title-add + 421.8 миллиарда рублей
                        .franchise-dynamics__last-year-chart
                        span.franchise-dynamics__last-year-sub-title 2022 год
            .franchise-dynamics__content
                .franchise-dynamics__content-title
                    h4 Но есть нюанс!
                .franchise-dynamics__content-text
                    p Стоимость «входного билета» для входа на рынок IT-технологий достаточно высока и стартует оценочно <strong> от 5 000 000 рублей </strong> для минимальных инвестиций в разработки простых программных продуктов, а также <strong> не менее 300 000 рублей ежемесячно </strong> только для поддержки простого продукта, без учёта расходов на его развитие и продвижение.




