.header {
    background-color: transparent;
    border-bottom: 1px solid #ddd;


}

.open-mobile-menu {
    @media screen and (max-width: $w576) {
        & .header {
            background-color: var(--main);
        }

        & .burger-button {
            & span {
                background-color: #fff;
            }
        }

        & .header-top {
            &__logo {

                & span {
                    filter: grayscale(200) brightness(300);
                }

            }
        }
    }
}

.header-top {

    padding: 16px 0;
    display: flex;
    //flex-wrap: wrap;

    @media screen and (min-width: $w1440) {
        padding: 20px 0;
    }


    &__logo {

        margin-right: 16px;
        display: flex;
        align-items: center;
        margin-right: auto;

        & .bgimage {
            width: 263px;
            height: 32px;
            @include bgimage-contain;
            background-position: left center;
            transition: opacity 0.3s ease;

            @media screen and (min-width: $w1440) {
                width: 381px;
                height: 48px;
            }

            &--hover {
                display: none;
            }


        }

        &:hover {
            & .bgimage {
                display: none;
            }

            & .bgimage--hover {
                display: block;
            }
        }
    }

    &__nav {
        display: none;

        @media screen and (min-width: $w992) {
            display: flex;

            margin-right: auto;
            align-items: center;

            & ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                & li {
                    padding: 0 1em;
                    padding-top: 4px;
                    white-space: nowrap;

                    &::after {
                        content: '';
                        width: 0;
                        display: block;
                        height: 2px;
                        background-color: var(--main);
                        border-radius: 2px;
                        transition: 0.3s ease;
                        margin: 0 auto;
                        margin-top: 2px;
                    }

                    &.active,
                    &:hover {
                        &::after {
                            width: 100%;
                        }
                    }
                }
            }
        }


    }

    &__button {
        display: none;

        @media screen and (min-width: $w992) {
            display: block;
        }
    }

    &__burger {
        @media screen and (min-width: $w992) {
            display: none;
        }
    }

}

.burger-button {
    width: 41px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.8s ease;
    cursor: pointer;

    & span {
        width: 24px;
        height: 2px;
        background-color: $main;
        margin: 3px 0;
        border-radius: 5px;
        transition-property: margin, transform;
        transition-duration: 0.3s;
        transition-timing-function: ease, ease;
        transition-delay: 0.5s;
        transform: rotate(0);
    }

    &.open {

        transform: rotate(450deg);


        & span {

            margin: -1px 1px -1px -1px;


            &:first-child {
                transform: rotate(45deg);
                transition: 0.3s ease;
            }

            &:last-child {
                transform: rotate(-45deg);
                transition: 0.3s ease;
            }
        }


    }
}