- 
  const app = {

    mainMenu: [
      { 'text': 'О нас',  'href': '/about.html', icon: false},
      { 'text': 'Программное обеспечение',  'href': 'software.html', icon: false},
      { 'text': 'Оборудование',  'href': 'equipment.html', icon: false},
      { 'text': 'Техподдержка',  'href': 'support.html', icon: false},
      { 'text': 'Вопросы и ответы',  'href': 'faq.html', icon: false},
      { 'text': 'Франшиза',  'href': 'franchise.html', icon: false},
      { 'text': 'Контакты ',  'href': 'contacts.html', icon: false},
    

    ],

    
  }








