- 
  const app = {

    mainMenu: [
      { 'text': 'О нас',  'href': '/about.html', icon: false},
      { 'text': 'Программное обеспечение',  'href': 'software.html', icon: false},
      { 'text': 'Оборудование',  'href': 'hardware.html', icon: false},
      { 'text': 'Техподдержка',  'href': 'support.html', icon: false},
      { 'text': 'Вопросы и ответы',  'href': 'faq.html', icon: false},
      { 'text': 'Франшиза',  'href': 'franchise.html', icon: false},
      { 'text': 'Контакты ',  'href': 'contacts.html', icon: false},
    

    ],

    faq:  [

      {
        'title':'1 / Что нужно, чтобы присоединиться к франшизе?',
        'answer':[
          'Программа нацелена на активное распространение сервисов «Мой умный шлагбаум» через региональных партнёрских представителей по франшизе. Чтобы стать франчайзи необходимо иметь зарегистрированное ИП или ООО с текущей фактической деятельностью в сфере производства электромонтажных работ.',
        ],
      }, 
      {
        'title':'2 / Какие расходы несёт франчайзи?',
        'answer':[
          'Программа нацелена на активное распространение сервисов «Мой умный шлагбаум» через региональных партнёрских представителей по франшизе. Чтобы стать франчайзи необходимо иметь зарегистрированное ИП или ООО с текущей фактической деятельностью в сфере производства электромонтажных работ.',
        ],
      }, 
      {
        'title':'3 / Какие источники получения дохода предусмотрены франшизой?',
        'answer':[
          'Программа нацелена на активное распространение сервисов «Мой умный шлагбаум» через региональных партнёрских представителей по франшизе. Чтобы стать франчайзи необходимо иметь зарегистрированное ИП или ООО с текущей фактической деятельностью в сфере производства электромонтажных работ.',
        ],
      }, 
      {
        'title':'4 / Какие компетенции должны быть у франчайзи?',
        'answer':[
          'Программа нацелена на активное распространение сервисов «Мой умный шлагбаум» через региональных партнёрских представителей по франшизе. Чтобы стать франчайзи необходимо иметь зарегистрированное ИП или ООО с текущей фактической деятельностью в сфере производства электромонтажных работ.',
        ],
      }, 
      {
        'title':'5 / Можно ли приобрести оборудование и ПО не становясь франчайзи',
        'answer':[
          'Программа нацелена на активное распространение сервисов «Мой умный шлагбаум» через региональных партнёрских представителей по франшизе. Чтобы стать франчайзи необходимо иметь зарегистрированное ИП или ООО с текущей фактической деятельностью в сфере производства электромонтажных работ.',
        ],
      }, 
      {
        'title':'6 / Зачем нужны вспомогательные методы открытия?',
        'answer':[
          'Программа нацелена на активное распространение сервисов «Мой умный шлагбаум» через региональных партнёрских представителей по франшизе. Чтобы стать франчайзи необходимо иметь зарегистрированное ИП или ООО с текущей фактической деятельностью в сфере производства электромонтажных работ.',
        ],
      }, 
      
    ],

    asidenav: [
            {
                text: 'Распознавание спецтранспорта',
                href: '/spectransport.html'
            },
            {
                text: 'Распознавание госномеров и гражданских ТС',
                href: '/gosnomer.html'
            },
            {
                text: 'Вспомогательные методы открытия',
                href: '/helper-method.html'
            },
            {
                text: 'Видеонаблюдение и видеоаналитика',
                href: '/video-archive.html'
            },
            {
                text: 'Надёжное конечное устройство',
                href: 'reliable-device.html'
            },
            {
                text: 'Дворы многоквартирных домов',
                href: '/courtyards.html'
            },
            {
                text: 'Многоуровневые и плоскостные паркинги',
                href: '/parkings.html'
            },
            {
                text: 'Дачные и котеджные поселки',
                href: '/country-cottages.html'
            },
            {
                text: 'Торговые центры, магазины и рестораны',
                href: 'shopping-malls.html'
            },
            {
                text: 'Гостиницы и дома отдыха',
                href: 'hotels.html'
            },
            {
                text: 'Промышленные, складские и логистические центры',
                href: 'industrial-warehouses.html'
            },
        ]

    
  }








