mixin about-cards()
    section.about-cards
        .about-cards__wrapper
            .about-cards__item
                span.about-cards__icon-1
                p
                    strong Без лишних затрат
                p Все высокотехнологичные элементы системы находятся на серверной стороне и обслуживаются нашими специалистами, за счёт чего франчайзи не потребуется содержать в штате высокооплачиваемых айтишников с ежемесячным ФОТ в несколько сотен тысяч рублей
            .about-cards__item
                span.about-cards__icon-2
                p
                    strong Без постоянного присутствия
                p С помощью наших сервисов возможно, в рамках небольшого бюджета, автоматизировать доступ на КПП или парковку, с эксплуатацией без постоянного присутствия сотрудников на объекте
            .about-cards__item
                span.about-cards__icon-3
                p
                    strong Без постоянного присутствия
                p Больше не нужны радиопульты, магнитные карты, электронные метки, gsm-модули и прочие «ключи» из донейронной эпохи, для того чтобы шлагбаум или ворота открывались перед резидентным транспортом автоматически, ему достаточно просто подъехать


