mixin about-cards()

    -
        const aboutCards = [
            {
                image: '/img/common/about1.svg',
                title: 'Без лишних затрат',
                text: 'Все высокотехнологичные элементы системы находятся на серверной стороне и обслуживаются нашими специалистами, за счёт чего франчайзи не потребуется содержать в штате высокооплачиваемых айтишников с ежемесячным ФОТ в несколько сотен тысяч рублей',
            },
            {
                image: '/img/common/about2.svg',
                title: 'Без постоянного присутствия',
                text: 'С помощью наших сервисов возможно, в рамках небольшого бюджета, автоматизировать доступ на КПП или парковку, с эксплуатацией без постоянного присутствия сотрудников на объекте',
            },
            {
                image: '/img/common/about3.svg',
                title: 'Без постоянного присутствия',
                text: 'Больше не нужны радиопульты, магнитные карты, электронные метки, gsm-модули и прочие «ключи» из донейронной эпохи, для того чтобы шлагбаум или ворота открывались перед резидентным транспортом автоматически, ему достаточно просто подъехать',
            },
        ]

    section.about-cards
        .about-cards__wrapper
            each item in aboutCards
                .about-cards__item: +card-about(item)
             

mixin card-about(data)
    .card-about
        .card-about__icon: +bgimage(data.image)
        .card-about__title= data.title
        .card-about__text= data.text